<div class="jumbotron">
  <div class="container">
    <h1>{{fullContact.devProfile.contactInfo.fullName}}</h1>
  </div>
</div>

<div class="container">
  {{log fullContact.devProfile}}

  {{fullContact.devProfile.demographics.gender}}
  {{fullContact.devProfile.demographics.locationGeneral}}
</div>
