<div class="search-form">
  <form class="form-inline" >
    <div class="form-group">
      <label for="location">LOCATION:</label>
      <select class="form-control form-select" id="location" onchange={{action 'updateLocation' value="target.value"}} >
        <option value="austin">Austin</option>
        <option value="boston">Boston</option>
        <option value="chicago">Chicago</option>
        <option value="los-angeles">Los Angeles</option>
        <option value="new-york">New York</option>
        <option value="philadelphia">Philadelphia</option>
        <option value="portland" selected="selected">Portland</option>
        <option value="san-francisco">San Francisco</option>
        <option value="seattle">Seattle</option>
        <option value="washington-dc">Washington DC</option>
      </select>

    </div>
    <div class="form-group language-input">
      <label for="language">LANGUAGE:</label>
      <select class="form-control form-select" id="language" onchange={{action 'updateLanguage' value="target.value"}} >
        <option value="C%23">C#</option>
        <option value="C%2B%2B">C++</option>
        <option value="CSS">CSS</option>
        <option value="HTML">HTML</option>
        <option value="Java">Java</option>
        <option value="JavaScript" selected="selected">JavaScript</option>
        <option value="PHP">PHP</option>
        <option value="Python">Python</option>
        <option value="Ruby">Ruby</option>
      </select>

    </div>
    <button {{action 'lookUp'}} class="btn btn-primary">FIND CANDIDATES</button>
  </form>
</div>
