<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <div class="navbar-brand">
        {{#link-to 'index'}}<img alt="GitHire" src="https://github.com/saeromjoa/github-api-project-ember/blob/master/public/assets/images/githire.png?raw=true" class="img-responsive nav-bar-image">{{/link-to}}
      </div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-right">
        <li>{{#link-to 'watchlist'}}<img src="https://github.com/saeromjoa/github-api-project-ember/blob/master/public/assets/images/watchlist.png?raw=true" class="img-responsive nav-bar-image" alt="watchlist" />{{/link-to}}</li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

  {{outlet}}


<div class="footer">
  <div class="container">
    {{#link-to 'about'}}About{{/link-to}}
    {{#link-to 'faq'}}FAQ{{/link-to}}
  </div>
</div>
