<div class="jumbotron">
  <div class="container">
    <h1>YOU DON'T HAVE TO BE A HACKER TO FIND GREAT DEVELOPERS!</h1>
    {{search-form lookUp="lookUp"}}
  </div>
</div>

<div class="container">

  <h3 class="title">SEARCH RESULTS: </h3>

</div>
