<div class="container">

    {{#each model as |developer|}}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{developer.login}}</h3>
        </div>
        <div class="panel-body">
          Basic panel example
        </div>
      </div>
    {{/each}}


</div>
